<div class="container-fluid" id ="second_container">
    <button class="auth_button" id="login"  href="#modal">Login</button>
    <button class="auth_button" id="register"  href="#modal">Join The Club</button>
    <a class="auth_button" id="scroll" href="#about">Learn More</a>
</div>
<!--Begin Modal Popup Box-->
<div id="modal" class="popupContainer" style="display:none;">
  <header class="popupHeader">
    <span class="header_title">Login</span>
    <span class="modal_close"><i class="fa fa-times"></i></span>
  </header>
<section class="popupBody">
<!--Login Form-->
  <div class="user_login">
    <form>
          <label>Email / Username</label> <input type="text" id="username"><br>
           <label>Password</label> <input type="password" id="password"><br>
          <div class="action_btns">
             <div class="one_half">
                <a class="btn register_btn" href="#">Need to sign up?</a>
             </div>
             <div class="one_half last">
               <a class="btn btn_green" id="loginbutton" href="#">Login</a>
               </div>
        </div>
    </form>
  </div>
<!--Register Form-->
  <div class="user_register">
      <form>
           <label>Username</label> <input id="registerusername" type="text"><br>
           <label>Email Address</label> <input type="email"><br>
          <label>Password</label> <input id="registerpassword" type="password"><br>
          <div class="action_btns">
              <div class="one_half">
                  <a class="btn login_btn" href="#">Already a member?</a>
              </div>
              <div class="one_half last">
                  <a class="btn btn_green" href="#" id="registerbutton">Register</a>
              </div>
          </div>
      </form>
  </div>
  </section>
</div>
