<div class="third_container">
	<a id="about">
		<h1 class="description">What is ForeCaddie?</h1>
	</a>
	<p class="title">ForeCaddie allows the average golfer to more accurately visualize their game.</p>
	<p class="subtitle">By tracking detailed stats per hole, players can pinpoint opportunities for improvement and progress their play more efficiently.
	</p>
</div>
<div class="fourth_container">
  <h1 class="features">ForeCaddie Tracks:</h1>
	<div class= "container-fluid" id="icons">
		<div id="track">
				<img src="images/fairways_icon.jpg"/>
				<img class="largescreen" src="images/big_fairways_icon.jpg"/>
				<p class="stat">Fairways</p> <br>
		</div>
		<div id="track">
				<img src="images/greens_icon.jpg"/>
				<img class="largescreen" src="images/big_greens_icon.jpg"/>
				<p class="stat">Greens in Regulation</p> <br>
		</div>
		<div id="track">
				<img src="images/putts_icon.jpg">
				<img class="largescreen" src="images/big_putts_icon.jpg"/>
				<p class="stat">Putts</p> <br>
		</div>
		<div id="track">
			<img src="images/score_icon.jpg"/>
			<img class="largescreen" src="images/big_score_icon.jpg"/>
			<p class="stat">Score</p> <br>
		</div>
	</div>
 </div>
	<div id="bottom">
		<p class="title">If you're ready to learn more about your game,   join the club and start golfing informed.</p>
	</div>
	<footer class="footer">
		<p>ForeRight! Productions</p>
	</footer>
