<div class="container-fluid">
  <div class="row">
    <header class="header">
      <h2 class="name">ForeCaddie</h2>
    </header>
    <div id="first_container" class="container-fluid">
      <h1 align="center" class="main-headline">Golf, <br> informed.</h1>
        <!--img id="dunbar" src="dunbar_001.jpg"/>
        <img class="smallscreen" src="dunbar_iphone_screen.jpg"/>
        <img class="middlescreen" src="dunbar_middle_screen.jpg"/>
        <img class="largescreen" src="dunbar_imac_screen.jpg"/-->
    </div>
    <fc-auth></fc-auth>
  </div>
</div>
